:root {
  --primary-color: #786452;
  --secondary-color: #f0ead2;
  --accent-color: #ffd700;
  --highlight-color: #ff6b6b;
  --text-color: #333;
  --background-color: #f0ead2;
}

body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Monaco, monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
}

nav li:last-child {
  border-right: none;
}

nav a,
.hero .btn {
  display: block;
  color: white;
  text-align: center;
  padding: 21px 16px;
  text-decoration: none;
  transition: 0.4s;
  font-size: 16px;
}

nav a:hover:not(.active),
.active {
  background-color: var(--primary-color);
  border-radius: 2px;
}

nav {
  display: block;
  width: 100%;
  background-color: var(--text-color);
  position: relative;
  z-index: 10;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 21px 16px;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover,
nav a.active {
  background-color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  color: var(--text-color);
  text-align: left;
}

.header {
  background-color: var(--highlight-color);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .logo {
  font-size: 2rem;
  font-weight: bold;
}

.header nav {
  margin: 0;
  padding: 0;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  position: relative;
}

.barosana .hero {
  background-image: url('https://images.pexels.com/photos/30981112/pexels-photo-30981112/free-photo-of-white-cat-resting-on-windowsill-in-monochrome.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.iegade .hero {
  background-image: url('https://images.pexels.com/photos/20861635/pexels-photo-20861635/free-photo-of-dog-chasing-cat-in-istanbul.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.veseliba .hero {
  background-image: url('https://images.pexels.com/photos/18540620/pexels-photo-18540620/free-photo-of-close-up-of-a-tabby-cat-hissing.jpeg?auto=compress&cs=tinysrgb&w=600');
}

.uzvediba .hero {
  background-image: url('https://images.pexels.com/photos/29086469/pexels-photo-29086469/free-photo-of-close-up-of-an-alert-domestic-cat.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.5rem;
}

.hero .btn {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

.hero .btn:hover {
  background-color: var(--highlight-color);
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero h1,
.hero p,
.hero .btn {
  position: relative;
  z-index: 2;
}

.hero:hover {
  transform: none;
  box-shadow: none;
}

.parasites {
  background-color: #f9f3e8;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.parasites h2 {
  font-size: 28px;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.parasite-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.parasite {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 220px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0,3s;
}

.parasite img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.parasite h3 {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.parasite p {
  font-size: 14px;
  color: var(--text-color);
}

.parasite:hover {
  transform: scale(1.05);
}

.prevention-tips {
  background: #fffbec;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.prevention-tips h3 {
  font-size: 22px;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 15px;
}

.prevention-tips ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 20px;
}

.prevention-tips li {
  font-size: 16px;
  margin-bottom: 8px;
  color: var(--text-color);
}

.footer {
  background-color: var(--text-color);
  color: #fff;
  text-align: center;
  padding: 8px 0;
}

.footer a {
  color: var(--accent-color);
  text-decoration: none;
}

.footer a:hover {
  color: var(--highlight-color);
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-text-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-items: center;
  margin-top: 10px;
}

.image-text-container img {
  width: 40%;
  height: auto;
  margin-right: 20px;
}

.image-text-container p {
  width: 50%;
  margin: 0;
  text-align: justify;
}

.image-content {
  flex: 1;
}

.centered-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 575px;
  padding: 20px;
  font-family: "Circular Book", sans-serif;
  font-weight: 400;
  font-size: large;
}

.centered-section .image-text-container img {
  max-width: 450px;
  margin-right: 20px;
  border-radius: 5px;
  transition: none;
}

.products {
  background: #f9f9f9;
  padding: 30px 0;
}

.products-inner {
  width: 80%;
  margin: auto;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 20px;
  margin: -10px;
}

.product {
  width: calc(25% - 20px);
  flex: 1 1 calc(20% - 20px);
  min-width: 220px;
  margin: 10px;
  padding-bottom: 15px;
  color: white;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  min-height: 300px;
  position: relative;
  align-items: center;
  overflow: hidden;
  width: 18%;
  background: var(--background-color);
}

.product img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 150px;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  margin: 0;
}

.product::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 2;
  pointer-events: none;
}

.product h3 {
  margin-top: 0;
  padding-top: 75px;
  color: white;
}

.product p {
  margin-bottom: 20px;
  padding-top: 60px;
  color:#333;
  padding-left: 10px;
  padding-right: 10px;
}

.product .btn {
  display: inline-block;
  padding: 8px 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: auto;
  background-color: #ff9800;
  position: relative;
  z-index: 3;
}

.product .btn:hover {
  background-color: #e55b00;
}

.products-title {
  margin-left: 2%;
  color: var(--text-color);
  text-align: left;
  padding-left: 10px;
}

.product h3,
.product p,
.product .btn {
  position: relative;
  z-index: 3;
  margin-top: 10px;
}

.product::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.product-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
}

.product:hover {
  transform: scale(1.02);
}

.product h3,
.product p {
  z-index: 2;
  position: relative;
  margin: 0;
}

.btn {
  display: inline-block;
  background-color: #ff9800;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  position: relative;
  z-index: 4;
  background: white;
  border: none;
  cursor: pointer;
  margin-top: 0px;
}

.btn:hover {
  background-color: #e68900;
}

/*hello, hello asaf, HELLO ASAF,hello Marta*/
.food-info,
.feeding-info,
.amount-info,
.important-info {
  background-color: #f9f3e8;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.food-image img,
.feeding-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.food-info,
.feeding-info {
  display: flex;
  align-items: center;
}

.food-image,
.food-text,
.feeding-text {
  padding: 10px;
}

.food-image {
  flex: 1;
}

.food-text,
.feeding-text {
  flex: 2;
}

.amount-info ul,
.important-info ul {
  list-style-type: disc;
  margin-left: 20px;
  padding: 0;
}

.amount-info li,
.important-info li {
  margin-bottom: 5px;
}

.interactive-tool {
  background-color: #f9f3e8;
  padding: 25px;
  border-radius: 10px;
  margin-top: 25px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.interactive-tool h3 {
  font-family: "Verdana", sans-serif;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.interactive-tool input,
.interactive-tool button {
  margin: 10px 0;
  padding: 10px;
  font-family: "Arial", sans-serif;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.interactive-tool button {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.interactive-tool button:hover {
  background-color: #5a4c3e;
}

.nutrition-chart {
  max-width: 80%;
  width: 100%;
  margin: 20px auto;
  flex: 1;
  height: auto;
  display: block;
}

.nutrition-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.nutrition-text {
  flex: 1;
  text-align: left;
}

.nutrition-image {
  flex: 1;
}

.seperate-section {
  margin-top: 30px;
}

.food-comparison {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 25px;
}

.food-comparison th,
.food-comparison td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-family: "Arial", sans-serif;
}

.food-comparison th {
  background-color: #f2f2f2;
  font-family: "Verdana", sans-serif;
  color: var(--primary-color);
}

.info-block {
  background-color: #f9f3e8;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.info-block h2 {
  font-family: "Verdana", sans-serif;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: left;
}

.padd {
  padding-left: 20px;
}

.info-block p,
.info-block li {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  text-align: left;
}

.info-block ol,
.info-block ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-left: 0;
  text-align: left;
}

.info-block li {
  margin-bottom: 10px;
}

.content-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.text-content {
  flex: 1;
}

.content-image {
  max-width: 100%;
  height: auto;
}

.health-calendar {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.health-calendar th,
.health-calendar td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.health-calendar th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
  border-bottom: 1px dotted var(--primary-color);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #f9f3e8;
  color: var(--text-color);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  bottom: 125%;
  left: 50%;
  margin-left: -125px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(10px);
  font-size: 14px;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--primary-color);
}

.tooltip .tooltiptext::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--primary-color) transparent transparent transparent;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -9px;
  border-width: 9px;
  border-style: solid;
  border-color: #f9f3e8 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.tooltip .tooltiptext strong {
  display: block;
  margin-bottom: 5px;
  color: var(--primary-color);
  font-family: "Verdana", sans-serif;
  text-align: center;
}

.food-info-container {
  display: flex;
  gap: 20px;
}

.harmful-foods {
  flex: 1;
  list-style-type: disc;
  padding-left: 20px;
}

.harmful-foods li {
  cursor: pointer;
  margin-bottom: 10px;
}

.harmful-foods li:hover {
  color: var(--primary-color);
}

.food-description {
  flex: 2;
  padding: 20px;
  background-color: #f9f3e8;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.harmful-foods li:hover + .harmful-image img {
  border-color: #786452;
}

.hidden {
  display: none;
}

.harmful-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.harmful-image:hover {
  opacity: 1;
}

.harmful-image {
  flex: 1;
  text-align: center;
  width: 200px;
  height: 150px;
  position: relative;
}

#harmfulImage {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.harmful-text {
  flex: 2;
  padding-right: 20px;
}

.contact-form {
  max-width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.contact-form label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
  text-align: left;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  background: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
  width: 100%;
}

.contact-form button:hover {
  background: #45a049;
}

.harmful-item {
  cursor: pointer;
}

.info-box {
  background-color: #f9f3e8;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
}

.info-box h2 {
  font-size: 1.2em;
  color: var(--primary-color);
  margin-bottom: 8px;
  display: inline-block;
  width: 80%;
  text-align: left;
  font-family: "Verdana", sans-serif;
}

.info-box p,
.info-block li {
  font-size: 1em;
  display: inline-block;
  width: 80%;
  text-align: left;
  color: var(--text-color);
}

.image-text-container img {
  box-shadow: none;
  transition: none;
  width: 1000px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .hero {
    padding: 80px 10px;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .image-text-container {
    flex-direction: column;
    align-items: center;
  }

  .image-text-container img {
    width: 80%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .image-text-container p {
    width: 100%;
    text-align: left;
  }

  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .product {
    max-width: 80%;
  }

  .food-info-container {
    flex-direction: column;
  }

  .harmful-foods,
  .food-description {
    width: 100%;
  }

  .info-block {
    padding: 20px;
  }

  nav ul {
    flex-direction: column;
    align-items: stretch;
  }

  nav li {
    border-bottom: 1px solid #555;
  }

  nav a {
    padding: 15px;
  }
}

#map {
  height: 400px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .product {
    width: calc(100% - 20px);
  }
}

@media (max-width: 1024px) {
  .product-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .product {
    flex: 1 1 calc(50% - 15px);
  }
}

@media (max-width: 600px) {
  .product {
    flex: 1 1 100%;
  }
}
